

<body data-spy="scroll" data-target="#navbar" data-offset="0" style="background-color: #91CABA">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <a class="navbar-brand" ></a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a href="#services">A propos</a></li>
                        <li><a href="#about-us">Notre équipe</a></li>
                        <li><a href="#contact">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                                   <img src="assets/logo.png" alt="" style="width: 250px">


                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h2 style="color: white">DENTACOOP <br/>PREMIÈRE COOPÉRATIVE DENTAIRE FRANÇAISE</h2>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->

    </section><!--/#main-slider-->
    <section >
        <div class="container" id="services" >
            <div class="box first"  >
              <div class="center">
                <iframe   class="responsive" width="400" height="300"  src="https://www.youtube.com/embed/lFvHqLlZp68" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <br>
                <br>
                <br>
                <img src="assets/schema.png"  alt="" class="img-responsive" style="margin-bottom: 40px"  >
              </div>
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->
    <section >
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                            <img src="assets/picto1.svg" alt="" >
                            <h4 style="color: white">CRÉÉE ET GÉRÉE PAR <br/>ET POUR LES DENTISTES</h4>
                            <p style="color: black">Dentacoop est une coopérative créée par les dentistes et gérée par les dentistes qui y adhèrent.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                             <img src="assets/picto6.svg" alt="" >
                            <h4 style="color: white">FOURNISSEUR DE MATÉRIEL ET SERVICES</h4>
                            <p style="color: black">Dentacoop a pour but de permettre l’achat de matériel et consommable à un coût juste et propose également des services innovants.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                          <img src="assets/picto2.svg" alt="" >
                            <h4 style="color: white">TRANSPARENCE</h4>
                            <p style="color: black">Dentacoop s’engage à fournir à ses adhérents tous les documents nécessaires à comprendre les tarifs proposés et un accès aux résultats de compte.</p>
                        </div>
                    </div><!--/.col-md-4-->
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                          <img src="assets/picto5.svg" alt="" >
                            <h4 style="color: white">INDÉPENDANCE</h4>
                            <p style="color: black">Sans contrat d’exclusivité ni partenariats avec les laboratoires, Dentacoop garde une indépendance dans le choix du matériel et des services proposés.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                           <img src="assets/picto3.svg" alt="" >
                            <h4 style="color: white">SOLIDARITÉ</h4>
                            <p style="color: black">Dentacoop c’est aussi l’union de toute une profession Et l’emploi de personnel à handicap.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                            <img src="assets/picto4.svg" alt=""  >
                            <h4 style="color: white">MISSION DE SANTÉ <br/>PUBLIQUE</h4>
                            <p style="color: black">Dentacoop veut permettre à tous les patients de France d’être enfin sur un même pied d’égalité en assurant un accès identique à la métropole et aux DOM-TOM.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->





    <section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2 style="color: white">Notre équipe</h2>
                    <p class="lead" style="color: white">Notre équipe est composée de plus de 100 dentistes qui ont rejoint le mouvement afin de révolutionner la profession et son rapport avec les entreprises qui y sont liées. Elle s’organise en différents services dont voici les représentants.</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel scale" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="assets/photo1.png" alt="" ></p>
                                        <h3 style="color: white">Antoine STAUMONT<small class="designation" style="color: white">Président Directeur Général</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="assets/photo8.png" alt="" ></p>
                                        <h3 style="color: white">Yassine CORBIN<small class="designation" style="color: white">Vice Président</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="assets/photo6.png" alt="" ></p>
                                        <h3 style="color: white">Antoine GORJUS<small class="designation" style="color: white">Service Administratif et Juridique</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="assets/photo7.png" alt="" ></p>
                                        <h3 style="color: white">Olivier<br/>GROS<small class="designation" style="color: white">Service Gestion Comptabilité</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="assets/photo5.png" alt="" ></p>
                                        <h3 style="color: white">Clarisse HUCHON<small class="designation" style="color: white">Service Recherche Internet Réseaux sociaux</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="assets/photo2.png" alt="" ></p>
                                        <h3 style="color: white">Maelle <br/>LE BOLAY<small class="designation" style="color: white">Service Communication Partenariats</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="assets/photo3.png" alt="" ></p>
                                        <h3 style="color: white">Isabelle FOUILLOUX<small class="designation" style="color: white">Service Tech' Design</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="assets/photo4.png" alt="" ></p>
                                        <h3 style="color: white">Dov <br/>DERMAN<small class="designation" style="color: white">Service Tech' Design</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="left-arrow" href="#team-scroller" data-slide="prev">
                        <i class="icon-angle-left icon-4x"></i>
                    </a>
                    <a class="right-arrow" href="#team-scroller" data-slide="next">
                        <i class="icon-angle-right icon-4x"></i>
                    </a>
                </div><!--/.carousel-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->

    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Nous contacter</h1>
                        <p>Pour plus d'informations , remplissez ce formulaire !</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <% @contact = Contact.new  %>
                        <%= simple_form_for @contact do |f| %>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <%= f.input :name, :required => true, type:"text", name:"name", placeholder:"Nom-Prénom",input_html: { class:"form-control", style:"background-color: #e3f4ef"} %>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <%= f.input :mail, :required => true, type:"text", name:"mail", placeholder:"Votre Email",input_html: { class:"form-control", style:"background-color: #e3f4ef"} %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <%= f.input :choix, :required => true, type:"text", name:"choix", collection:["Chirurgien-Dentiste", "Laboratoire ou représentant", "Association", "Autres"], prompt: "Vous êtes", label:false, input_html: { class:"form-control", style:"   background-color:  #e3f4ef;"} %>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <%= f.input :message, :as => :text,:required => true, type:"text", name:"mail", placeholder:"Votre message", input_html: { class:"form-control", style:"background-color: #e3f4ef;min-height:150px "} %>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <%end%>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                       <!-- <h1>Notre adresse</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address style="color: white">
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address style="color: white">
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div>
                      -->
                        <h1>Nos liens sociaux</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="https://www.facebook.com/groups/683840981781360/" style="color: white" target="_blank"><i class="icon-facebook icon-social" ></i> Facebook</a></li>
                                    <li><a href="https://www.linkedin.com/company/67748331" style="color: white" target="_blank"><i class="icon-linkedin icon-social" ></i> Linkedin</a></li>
                                    <li><a href="#" style="color: white" target="_blank"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                                </ul>
                            </div>
                              <div class="col-md-6">
                                <ul class="social">
                                   <img src="assets/logo.png" alt="" style="width: 100px">
                                </ul>
                            </div>

                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="color: white">
                    &copy; 2020 <a style="color: white">Dentacoop ©</a>
                </div>

            </div>
        </div>
    </footer><!--/#footer-->

    <script src="assets/jquery.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery.isotope.min.js"></script>
    <script src="assets/jquery.prettyPhoto.js"></script>
    <script src="assets/main.js"></script>
</body>

