<body data-spy="scroll" data-target="#navbar" data-offset="0" style="background-color: #91CABA">
    <header id="header" role="banner">
        <div class="container">
            <div id="navbar" class="navbar navbar-default">
                <div class="navbar-header">
                    <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>
                    <a class="navbar-brand" ></a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                        <li><a href="#services">A propos</a></li>
                        <li><a href="#info">En savoir plus</a></li>
                        <li><a href="#about-us">Notre équipe</a></li>



                        <li><a href="#contact">Nous contacter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header><!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                                   <img src="assets/logo.png" alt="" style="width: 250px">


                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content">
                        <h1 style="color: white">DENTONCAMPUS©<br/>LABORATOIRE D'INNOVATIONS
                         DENTAIRE FRANÇAIS</h1>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->

    </section><!--/#main-slider-->

    <section >
        <div class="container">
            <div class="box first">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                            <img src="assets/picto1.svg" alt="" >
                            <h4 style="color: white">CRÉÉE ET GÉRÉE PAR <br/>ET POUR LES DENTISTES</h4>
                            <p style="color: black">Dentacoop est une coopérative créée par les dentistes et gérée par les dentistes qui y adhèrent.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                             <img src="assets/picto6.svg" alt="" >
                            <h4 style="color: white">FOURNISSEUR DE MATÉRIEL ET SERVICES</h4>
                            <p style="color: black">Dentacoop a pour but de permettre l’achat de matériel et consommable à un coût juste et propose également des services innovants.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                          <img src="assets/picto2.svg" alt="" >
                            <h4 style="color: white">TRANSPARENCE</h4>
                            <p style="color: black">Dentacoop s’engage à fournir à ses adhérents tous les documents nécessaires à comprendre les tarifs proposés et un accès aux résultats de compte.</p>
                        </div>
                    </div><!--/.col-md-4-->
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                          <img src="assets/picto5.svg" alt="" >
                            <h4 style="color: white">INDÉPENDANCE</h4>
                            <p style="color: black">Sans contrat d’exclusivité ni partenariats avec les laboratoires, Dentacoop garde une indépendance dans le choix du matériel et des services proposés.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                           <img src="assets/picto3.svg" alt="" >
                            <h4 style="color: white">SOLIDARITÉ</h4>
                            <p style="color: black">Dentacoop c’est aussi l’union de toute une profession Et l’emploi de personnel à handicap.</p>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-12">
                        <div class="center">
                            <img src="assets/picto4.svg" alt=""  >
                            <h4 style="color: white">MISSION DE SANTÉ <br/>PUBLIQUE</h4>
                            <p style="color: black">Dentacoop veut permettre à tous les patients de France d’être enfin sur un même pied d’égalité en assurant un accès identique à la métropole et aux DOM-TOM.</p>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->

<section id="info">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2 style="color: white">Vous voulez en savoir plus ?</h2>
                    <p class="lead" style="color: white">Dentacoop sera le projet de tous les véritables acteurs du dentaire Français</p>
                </div>
                <div class="gap"></div>


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="pages/chirdents" >
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607350021/Capture_d_%C3%A9cran_2020-12-07_%C3%A0_15.06.47_ne9mz6.png"  alt="" ></p>
                                        <h3 style="color: white">Vous êtes chirurgien-dentiste</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="pages/fabricants" >
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607334839/Capture_d_%C3%A9cran_2020-12-07_%C3%A0_10.52.48_bcmjup.png" alt="" ></p>
                                        <h3 style="color: white">Vous êtes fabricant/laboratoire</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="pages/installateurs" >
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607334840/Capture_d_%C3%A9cran_2020-12-07_%C3%A0_10.48.28_hpu8pj.png" alt="" ></p>
                                        <h3 style="color: white">Vous êtes installateur indépendant</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="pages/innovations" >
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607335189/Capture_d_%C3%A9cran_2020-12-07_%C3%A0_10.58.50_gqfdoo.png" alt="" ></p>
                                        <h3 style="color: white">Notre Laboratoire d'Innovations</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="pages/actualites" >
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607335191/Capture_d_%C3%A9cran_2020-12-07_%C3%A0_10.54.45_vsgop3.png" alt="" ></p>
                                        <h3 style="color: white">Notre actualité</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">

                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607335186/pexels-photo-3758104_nf7hvn.jpg" alt="" ></p>
                                        <h3 style="color: white">Ce qu'ils en pensent (en construction)</h3>

                                    </div>
                                  </div>
                                </div>
                              </div>





            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->




    <section id="about-us">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2 style="color: white">Notre équipe</h2>
                    <p class="lead" style="color: white">Notre équipe est composée de plus de 100 dentistes qui ont rejoint le mouvement afin de révolutionner la profession et son rapport avec les entreprises qui y sont liées. Elle s’organise en différents services dont voici les représentants.</p>
                </div>
                <div class="gap"></div>
                <div id="team-scroller" class="carousel scale" >
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607362052/122387781_10223631771002960_3351462271136532029_n_whdiwm.jpg" alt="" ></p>
                                        <h3 style="color: white">Antoine STAUMONT<small class="designation" style="color: white">Président Directeur Général</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607361973/T013GNPRF3R-U01BHSUQD35-f5f1f657527e-512_hbsmpd.jpg" alt="" ></p>
                                        <h3 style="color: white">Nathalie CROISEAUX<small class="designation" style="color: white">Service Achats/marketing </small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607362052/122479768_10223631744882307_2157312582004111545_n_dibbyx.jpg" alt="" ></p>
                                        <h3 style="color: white">Antoine GORJUS<small class="designation" style="color: white">Service Administratif et Juridique</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607362052/122444838_10223623231109468_2748494493572288298_n_o6vslm.jpg" alt="" ></p>
                                        <h3 style="color: white">Olivier<br/>GROS<small class="designation" style="color: white">Service Gestion Comptabilité</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607362052/122671802_147417460356105_7680654415452255380_n_fa8eom.jpg" alt="" ></p>
                                        <h3 style="color: white">Clarisse HUCHON<small class="designation" style="color: white">Service Recherche Internet Réseaux sociaux</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607362052/122276065_10223615592678512_6068337763860094928_n_zcyrmq.jpg" alt="" ></p>
                                        <h3 style="color: white">Maelle <br/>LE BOLAY<small class="designation" style="color: white">Service Communication Partenariats</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607362052/123959288_10223750811578900_7395874708916749448_n_hm1rfv.jpg" alt="" ></p>
                                        <h3 style="color: white">Isabelle FOUILLOUX<small class="designation" style="color: white">Service Tech' Design</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607362052/122475648_10223639647119858_4861877266211810860_n_yxdww2.jpg" alt="" ></p>
                                        <h3 style="color: white">Dov <br/>DERMAN<small class="designation" style="color: white">Service Tech' Design</small></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="member">

                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="member">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607363112/T013GNPRF3R-U01FMD5MA66-6ed9386f3fa3-512_q3sqxz.jpg" alt="" ></p>
                                        <h3 style="color: white">Eva BIGOTTI<small class="designation" style="color: white">Service Logisitque/Qualité</small></h3>
                                    </div>
                                </div>
                                <div class="col-sm-3">

                                </div>
                            </div>
                        </div>

                    </div>
                    <a class="left-arrow" href="#team-scroller" data-slide="prev">
                        <i class="icon-angle-left icon-4x"></i>
                    </a>
                    <a class="right-arrow" href="#team-scroller" data-slide="next">
                        <i class="icon-angle-right icon-4x"></i>
                    </a>
                </div><!--/.carousel-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->


<section id="lien">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h2 style="color: white">Retouvez ici nos liens importants</h2>
                    <p class="lead" style="color: white">Ne vous perdez pas dans le web, les liens importants sont ici</p>
                </div>
                <div class="gap"></div>


                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="https://www.leetchi.com/fr/c/rGk0Qp9r" target="_blank">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607416410/logo-meta_as1m2p.png"  alt="" ></p>
                                        <h3 style="color: white">Notre cagnotte Leetchi</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeQU33g5YANkB9BVd0I2opRs-ZNL662Fz3u7teRinB4EPzSlQ/viewform?usp=sf_link" target="_blank">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607417814/form_2_gsmto3.png" alt="" ></p>
                                        <h3 style="color: white">Nos revendications chirurgiens-dentistes</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc_Rzfhv0vKLCkZYDVEZHfIRcB-Wcsc0v6KbBVL2X_O1wkpkQ/viewform?usp=sf_link" target="_blank">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607417814/form_2_gsmto3.png" alt="" ></p>
                                        <h3 style="color: white">Nos revendications installateurs indépendants</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="https://www.facebook.com/Dentacoop-105695301271080" target="_blank">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607417544/Unknown_cd2vzv.png" alt="" ></p>
                                        <h3 style="color: white">Notre page Facebook</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="https://www.youtube.com/channel/UCavkdcmvefw-Vx4SXKnu_CA" target="_blank">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607417686/youtube_social_200x200_rekhxs.png" alt="" ></p>
                                        <h3 style="color: white">Notre chaine Youtube</h3>
                                      </a>
                                    </div>
                                  </div>
                                <div class="col-sm-4">
                                    <div class="member">
                                      <a href="https://www.linkedin.com/company/67748331" target="_blank">
                                        <p><img class="img-responsive img-thumbnail img-circle" src="https://res.cloudinary.com/dz83jh064/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1607417748/Image-Une1_o0a6sk.jpg" alt="" ></p>
                                        <h3 style="color: white">Notre page Linkedin</h3>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>





            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#about-us-->




    <section id="contact">
        <div class="container">
            <div class="box last">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>Nous contacter</h1>
                        <p>Pour plus d'informations , remplissez ce formulaire !</p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <% @contact = Contact.new  %>
                        <%= simple_form_for @contact do |f| %>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <%= f.input :name, :required => true, type:"text", name:"name", placeholder:"Nom-Prénom",input_html: { class:"form-control", style:"background-color: #e3f4ef"} %>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">

                                        <%= f.input :mail, :required => true, type:"text", name:"mail", placeholder:"Votre Email",input_html: { class:"form-control", style:"background-color: #e3f4ef"} %>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <%= f.input :choix, :required => true, type:"text", name:"choix", collection:["Chirurgien-Dentiste", "Laboratoire ou Fabricant", "Association","Installateur Indépendant", "Autres"], prompt: "Vous êtes", label:false, input_html: { class:"form-control", style:"   background-color:  #e3f4ef;"} %>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">

                                        <%= f.input :message, :as => :text,:required => true, type:"text", name:"mail", placeholder:"Votre message", input_html: { class:"form-control", style:"background-color: #e3f4ef;min-height:150px "} %>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger btn-lg">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <%end%>
                    </div><!--/.col-sm-6-->
                    <div class="col-sm-6">
                       <!-- <h1>Notre adresse</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <address style="color: white">
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="col-md-6">
                                <address style="color: white">
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                        </div>
                      -->
                        <h1>Nos liens sociaux</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="social">
                                    <li><a href="https://www.facebook.com/groups/683840981781360/" style="color: white" target="_blank"><i class="icon-facebook icon-social" ></i> Facebook</a></li>
                                    <li><a href="https://www.linkedin.com/company/67748331" style="color: white" target="_blank"><i class="icon-linkedin icon-social" ></i> Linkedin</a></li>
                                    <li><a href="#" style="color: white" target="_blank"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                                </ul>
                            </div>
                              <div class="col-md-6">
                                <ul class="social">
                                   <img src="assets/logo.png" alt="" style="width: 100px">
                                </ul>
                            </div>

                        </div>
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->
            </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#contact-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="color: white">
                    &copy; 2020 <a style="color: white">Dentacoop ©</a>
                </div>

            </div>
        </div>
    </footer><!--/#footer-->

    <script src="assets/jquery.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/jquery.isotope.min.js"></script>
    <script src="assets/jquery.prettyPhoto.js"></script>
    <script src="assets/main.js"></script>
</body>

