<!DOCTYPE html>
<html lang="fr">
<html>
  <head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-176999794-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-176999794-1');
</script>



<meta name="description" content="Première coopérative dentaire française de vente de matériel et de services pensée et créée par des chirugiens-dentistes.">


<meta property="og:title" content="DENTACOOP">
<meta property="og:type" content="website">
<meta property="og:url" content="https://dentacoop2.herokuapp.com">
<meta property="og:image" content="/assets/logo.png">
<meta property="og:description" content="Première coopérative dentaire française de vente de matériel et de services pensée et créée par des chirugiens-dentistes.">



<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="#{DEFAULT_META["twitter_account"]}">
<meta name="twitter:title" content="DENTACOOP">
<meta name="twitter:description" content="Première coopérative dentaire française de vente de matériel et de services pensée et créée par des chirugiens-dentistes.">
<meta name="twitter:creator" content="#{DEFAULT_META["twitter_account"]}">
<meta name="twitter:image:src" content="/assets/logo.png">
    <meta charset="utf-8">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content=""> -->
    <title>DENTACOOP</title>
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <link href="assets/font-awesome.min.css" rel="stylesheet">
    <link href="assets/prettyPhoto.css" rel="stylesheet">
    <link href="assets/main.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="assets/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
